
/*Title 부분*/
#Title{
    width: 210px;
    position: fixed;
    padding-top: 140px;
    padding-left: 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
}
#Titleflex{
    display: flex;
    flex-direction: column;
}
#Titleulflex{
    display: flex;
    align-items: center;
}
#Title h1{
    font-size: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    line-height: 24px;
    transition: 0.5s;
}
#Title li{
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 2px;
}
.Circle{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: rgb(110, 110, 110);
    transition: 0.5s;
    display: inline-block;
    margin-right: 5px;
}
#titlema{
    margin-bottom: 220px;
}
#titlea{
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
}
#titlea:hover{
    opacity: 0.7;
}
#titlep{
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
}
/*Introduction 부분*/
#Introduction{
    margin-left: 11%;
    width: 80%;
    background-color: rgb(245, 245, 245);
    position: relative;
}
#Introduction img{
    width: 88.2vw;
    height: 100vh;
    object-fit: cover;
}
#background{
    width: 88.2vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;

}
#info{
    position: absolute;
    top:400px;
    left: 450px;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,0);
}
#infotitle{
    font-size: 50px;
}
#infoname{
    font-size: 85px;
    background-size: 100% 100%;
    background-image: linear-gradient(transparent 80%, rgb(248, 205, 7) 20%);
}
#namenext{
    font-size: 50px;
}
#infodesc{
    font-size: 30px;
}
#h1span{
    color: rgb(248, 205, 7);
}
/*Aboutme 부분*/
#Aboutme{
    padding-top: 20px;
    padding-left: 13%;
    background-color: rgb(245, 245, 245);
}
#Contentborder{
    padding-top: 30px;
    border-bottom: 6.5px solid rgb(248, 205, 7); 
    width: 83%;
}
#Contenttitle{
    font-family: "NEXON Lv2 Gothic Bold";
    font-size: 70px;
    padding-bottom: 10px;
}
#Contenttitle2{
    padding-top: 70px;
    font-size: 24px;
}
#Contenttitle3{
    font-size: 40px;
    text-decoration: underline;
    text-underline-offset: 3.5px;
}
#Contenttilte3:hover{
    background: linear-gradient(to right, transparent 50%, rgb(255, 218, 55) 50%) 0px 0px / 200%;
    text-underline-offset: 3.5px;
    transition: all 0.25s ease 0s;
}
@keyframes backcolor{
    0% {width: 0;}
    100%{width: 100%;}
}
#Contenttitle4{
    font-size: 18px;
}
#school{
    height: 250px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.myskill{
    padding-top: 50px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 24px;
}
#skillmouse{
    font-size: 14px;
    padding-left: 15px;
}
#skillul{
    padding-left: 3%;
    display: flex;
    flex-wrap: wrap;
    width: 83%;
}
.skillli{
    text-align: center;
    width: 23%;
    height: 200px;
    padding-top: 20px;
}
.skilldiv{
    height: 200px;
    width: 100%;
}
.skillli img{
    width: 137.17px;
    height: 137.17px;
}
.skillli p{
    font-size: 20px;
}
.skillli span{
    font-weight: 400;
    text-shadow: 2px 2px 2px gray;
}
.skilljava{
    position: relative;
}
.skilljava:hover .status-JAVA{
    opacity: 0.5;
}
.skilljava:hover .status-Java{
    opacity: 1;
}
.status-JAVA{
    position: absolute;
    top: 0;
    background-color: rgb(246, 226, 5);
    opacity: 0;
    width: 100%;
    height: 200px;
    z-index: 1;
    transition: 0.5s;
}
.status-Java{
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 10px;
    opacity: 0;
    width: 100%;
    height: 200px;
    z-index: 2;
    font-size: 20px;
    transition: 0.5s;
}
.skillreact{
    position: relative;
}
.skillreact:hover .status-REACT{
    opacity: 0.5;
}
.skillreact:hover .status-React{
    opacity: 1;
}
.status-REACT{
    position: absolute;
    top: 0;
    background-color: rgb(149, 194, 223);
    opacity: 0;
    width: 100%;
    height: 200px;
    z-index: 1;
    transition: 0.5s;
}
.status-React{
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 10px;
    opacity: 0;
    width: 100%;
    height: 200px;
    z-index: 2;
    font-size: 20px;
    transition: 0.5s;
}
.skilltype{
    position: relative;
}
.skilltype:hover .status-TYPESCRIPT{
    opacity: 0.5;
}
.skilltype:hover .status-Typescript{
    opacity: 1;
}
.status-TYPESCRIPT{
    position: absolute;
    top: 0;
    background-color: rgb(25, 128, 193);
    opacity: 0;
    width: 100%;
    height: 200px;
    z-index: 1;
    transition: 0.5s;
}
.status-Typescript{
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 10px;
    opacity: 0;
    width: 100%;
    height: 200px;
    z-index: 2;
    font-size: 20px;
    transition: 0.5s;
}
.skillhtml{
    position: relative;
}
.skillhtml:hover .status-HTML{
    opacity: 0.5;
}
.skillhtml:hover .status-Html{
    opacity: 1;
}
.status-HTML{
    position: absolute;
    top: 0;
    background-color: rgb(248, 112, 58);
    opacity: 0;
    width: 100%;
    height: 200px;
    z-index: 1;
    transition: 0.5s;
}
.status-Html{
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 10px;
    opacity: 0;
    width: 100%;
    height: 200px;
    z-index: 2;
    font-size: 20px;
    transition: 0.5s;
}
.skillcss{
    position: relative;
}
.skillcss:hover .status-CSS{
    opacity: 0.5;
}
.skillcss:hover .status-Css{
    opacity: 1;
}
.status-CSS{
    position: absolute;
    top: 0;
    background-color: rgb(65, 150, 202);
    opacity: 0;
    width: 100%;
    height: 200px;
    z-index: 1;
    transition: 0.5s;
}
.status-Css{
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 10px;
    opacity: 0;
    width: 100%;
    height: 200px;
    z-index: 2;
    font-size: 20px;
    transition: 0.5s;
}
.skillscss{
    position: relative;
}
.skillscss:hover .status-SCSS{
    opacity: 0.5;
}
.skillscss:hover .status-Scss{
    opacity: 1;
}
.status-SCSS{
    position: absolute;
    top: 0;
    background-color: lightpink;
    opacity: 0;
    width: 100%;
    height: 200px;
    z-index: 1;
    transition: 0.5s;
}
.status-Scss{
    position: absolute;
    top: 0;
    left: 0;
    padding: 60px 10px;
    opacity: 0;
    width: 100%;
    height: 200px;
    z-index: 2;
    font-size: 20px;
    transition: 0.5s;
}
.skillphp{
    position: relative;
}
.skillphp:hover .status-PHP{
    opacity: 0.5;
}
.skillphp:hover .status-Php{
    opacity: 1;
}
.status-PHP{
    position: absolute;
    top: 0;
    background-color: lightslategray;
    opacity: 0;
    width: 100%;
    height: 200px;
    z-index: 1;
    transition: 0.5s;
}
.status-Php{
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 10px;
    opacity: 0;
    width: 100%;
    height: 200px;
    z-index: 2;
    font-size: 20px;
    transition: 0.5s;
}
.skillmysql{
    position: relative;
}
.skillmysql:hover .status-MYSQL{
    opacity: 0.5;
}
.skillmysql:hover .status-Mysql{
    opacity: 1;
}
.status-MYSQL{
    position: absolute;
    top: 0;
    background-color: lightsteelblue;
    opacity: 0;
    width: 100%;
    height: 200px;
    z-index: 1;
    transition: 0.5s;
}
.status-Mysql{
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 10px;
    opacity: 0;
    width: 100%;
    height: 200px;
    z-index: 2;
    font-size: 20px;
    transition: 0.5s;
}
.skillpython{
    position: relative;
}
.skillpython:hover .status-PYTHON{
    opacity: 0.5;
}
.skillpython:hover .status-Python{
    opacity: 1;
}
.status-PYTHON{
    position: absolute;
    top: 0;
    background: linear-gradient(to top,rgb(246, 226, 5),rgb(25, 128, 193));
    opacity: 0;
    width: 100%;
    height: 200px;
    z-index: 1;
    transition: 0.5s;
}
.status-Python{
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 10px;
    opacity: 0;
    width: 100%;
    height: 200px;
    z-index: 2;
    font-size: 20px;
    transition: 0.5s;
}
.skillgit{
    position: relative;
}
.skillgit:hover .status-GIT{
    opacity: 0.5;
}
.skillgit:hover .status-Git{
    opacity: 1;
}
.status-GIT{
    position: absolute;
    top: 0;
    background-color: lightsalmon;
    opacity: 0;
    width: 100%;
    height: 200px;
    z-index: 1;
    transition: 0.5s;
}
.status-Git{
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 10px;
    opacity: 0;
    width: 100%;
    height: 200px;
    z-index: 2;
    font-size: 20px;
    transition: 0.5s;
}

/*Share 부분*/
#Share{
    padding-left: 13%;
    background-color: rgb(245, 245, 245);
}
.Sharetitle{
    display: block;
    margin-bottom: 24px;
}
.Sharelink{
    margin-bottom: 30px;
}

.Sharedesc{
    padding-bottom: 20px;
}
/*Project 부분*/
#Project{
    padding-left: 13%;
    background-color: rgb(245, 245, 245);
}
#projectview{
    display: flex;
    column-gap: 50px;
}
.projectspan{
    display: block;
    margin-bottom: 30px;
}
.projectimg{
    width: 40%;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
}
.projectimg:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
#dtlist{
    padding-top: 20px;
}
.pdesc{
    width: 35%;
}
.projectdesc{
    margin-bottom: 26px;
}
.projectday{
    margin-bottom: 10px;
}
.projectskill{
    margin-bottom: 10px;
}
#btnspan{
    display: flex;
    margin-bottom: 80px;
}
#alive{
    display: block;
    width: calc(100% / 3.5);
    margin-right: 3px;
    background-color: rgb(255, 218, 55);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    height: 2.5rem;
    width: 150px;
    line-height: 2.3rem;
    letter-spacing: 1px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}
#alive:hover{
    background: #0e2c53;
    color: rgb(255, 218, 55);
}
#moreview{
    text-align: end;
    padding-right: 20%;
    display: flex;
    flex-direction: row-reverse;
}
#moreviewspan{
    display: block;
    width: 25%;
    height: 32px;
    font-size: 24px;
    overflow: hidden;
    cursor: pointer;
}
#startp{
    display: block;
}
#endp{
    display: none;
}
#moreviewspan:hover #endp{
    display: block;
    animation: all 2s 1;
    background:  rgb(255, 218, 55);
}
#moreviewspan:hover #startp{
    display: none;
}
@keyframes all{
    0% {width: 0;}
    100%{width: 100%;}
}

/*FAQ 부분*/
#FAQ{
    padding-left: 13%;
    background-color: rgb(245, 245, 245);
}
#FAQdiv{
    padding: 25px 50px 50px;
    width: 70%;
    border: 2px solid rgb(248, 205, 7);
    margin-top: 70px;
    
    margin-left: 5%;
    padding-bottom: 50px;
}

#FAQflex{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    align-items: center;
}
#FAQflex img{
    width: 15px;
    height: 10px;
}
#FAQflex span{
    cursor: pointer;
}
.faqp{
    padding-left: 16px;
    padding-right: 36px;
    color: #333;
    font-size: 16px;
    line-height: 65px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.faqanswer{
    padding: 40px 40px 45px;
    border-bottom: 1px solid #ddd;
    color: #333;
    font-size: 14px;
    line-height: 1.86;
    box-sizing: border-box;
    border-color: transparent;
}

#Content{
    padding-top: 50px;
    padding-left: 13%;
    background-color: rgb(245, 245, 245);
}
.contentdiv{
    margin-bottom: 220px;
}
.contact-box p{
    display: inline;
}
.titeng{
    padding-bottom: 10px;
}
#contact{
    padding: 80px 0;
    margin-bottom: 80px;
}
.content-box{
    position: relative;
    line-height: 1.4;
    text-align: center;
    width: 80%;
}
.content-box h2.tit {
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 45px;
    position: relative;
    color: #1876f2;
}
.contact-box p{
    font-size: 1.2rem;
    margin-bottom: 50px;

}
.contacts-box{
    margin-left: 400px;
    display: block;
    width: 40%;
    padding: 20px 0;
    text-align: center;
    background-color: rgb(248, 205, 7);
    border-radius: 100px;
    transition: all .3s ease;
    font-size: 18px;
    font-weight: 500;
} 
.topbox{
    margin-bottom: 20px;
}
.contacts-box:hover{
    cursor: pointer;
    background-color: #0e2c53;
    color: rgb(248, 205, 7);
}
.contact-box #p-tag{
    margin-bottom: 50px;
}