
/*Title 부분*/
#Title{
    width: 210px;
    position: fixed;
    padding-top: 140px;
    padding-left: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
}
#Titleflex{
    display: flex;
    flex-direction: column;
}
#Titleulflex{
    display: flex;
    align-items: center;
}
#Title h1{
    font-size: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    line-height: 24px;
    transition: 0.5s;
}
#Title li{
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 2px;
}
.Circle{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: rgb(110, 110, 110);
    transition: 0.5s;
    display: inline-block;
    margin-right: 5px;
}
/*Introduction 부분*/
#Introduction{
    margin-left: 11%;
    width: 80%;
    background-color: rgb(245, 245, 245);
    position: relative;
}
#Introduction img{
    width: 88.2vw;
    height: 100vh;
    object-fit: cover;
}
#background{
    width: 88.2vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;

}
#info{
    position: absolute;
    top:400px;
    left: 450px;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,0);
}
#infotitle{
    font-size: 50px;
}
#infoname{
    font-size: 85px;
    background-size: 100% 100%;
    background-image: linear-gradient(transparent 80%, rgb(248, 205, 7) 20%);
}
#namenext{
    font-size: 50px;
}
#infodesc{
    font-size: 30px;
}
#h1span{
    color: rgb(248, 205, 7);
}
/*Aboutme 부분*/
#Aboutme{
    padding-top: 20px;
    padding-left: 13%;
    background-color: rgb(245, 245, 245);
}
#Contentborder{
    padding-top: 30px;
    border-bottom: 6.5px solid rgb(248, 205, 7); 
    width: 83%;
}
#Contenttitle{
    font-family: "NEXON Lv2 Gothic Bold";
    font-size: 70px;
    padding-bottom: 10px;
}
#Contenttitle2{
    padding-top: 70px;
    font-size: 24px;
}
#Contenttitle3{
    font-size: 40px;
    text-decoration: underline;
}
#Contenttitle4{
    font-size: 18px;
}
#school{
    height: 250px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.myskill{
    padding-top: 50px;
    margin-bottom: 40px;
}
.status{
    display: flex;
    height: 30px;
}
.statusli:not(:last-child){
    margin-bottom: 10px;
}
.status-bar-name{
    width: 150px;
    line-height: 24px;
    font-weight: 700;
    display: flex;
}
.status-bar-name img{
    width: 40px;
    height: 30px;
    padding-right: 10px;
}

.status-bar{
    height: 24px;
    background: #ccc;
    width: 70%;
    border-radius: 7px;
}
.status-bar-percent{
    display: block;
    padding: 0 10px;
    height: 24px;
    line-height: 24px;
    text-align: right;
    color: #fff;
    border-radius: 7px;
    
}
.status-Javascript{
    width: 70%;
    background: rgb(246, 226, 5);
    animation: status70 5s 1 ;
}
.status-REACT{
    width: 70%;
    background: lightskyblue;
    animation: status70 5s 1 ;
}
.status-Typescript{
    width: 50%;
    background: rgb(25, 128, 193);
    animation: status50 5s 1;
}
.status-HTML{
    width: 80%;
    background:rgb(248, 112, 58);
    animation: status80 5s 1;
}
.status-CSS3{
    width: 70%;
    background: rgb(65, 150, 202);
    animation: status70 5s 1;
}
.status-SCSS{
    width: 70%;
    background:  lightpink;
    animation: status70 5s 1;
}
.status-PHP{
    width: 60%;
    background: lightslategray;
    animation: status60 5s 1;
}
.status-MYSQL{
    width: 70%;
    background: lightsteelblue;
    animation: status70 5s 1;
}
.status-git{
    width: 40%;
    background: lightsalmon;
    animation: status40 5s 1;
}
@keyframes status40{
    0% {width: 0;}
    100%{width: 40%;}
}
@keyframes status50{
    0% {width: 0;}
    100%{width: 50%;}
}
@keyframes status60{
    0% {width: 0;}
    100%{width: 60%;}
}
@keyframes status70{
    0% {width: 0;}
    100%{width: 70%;}
}
@keyframes status80{
    0% {width: 0;}
    100%{width: 80%;}
}
/*Share 부분*/
#Share{
    padding-left: 13%;
    background-color: rgb(245, 245, 245);
}
.Sharetitle{
    display: block;
    margin-bottom: 24px;
}
.Sharelink{
    margin-bottom: 30px;
}

.Sharedesc{
    padding-bottom: 20px;
}
/*Project 부분*/
#Project{
    padding-left: 13%;
    background-color: rgb(245, 245, 245);
}
#projectview{
    display: flex;
    column-gap: 50px;
    margin-bottom: 30px;
}
.projectspan{
    display: block;
    margin-bottom: 30px;
}
.projectimg{
    width: 40%;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
    cursor: pointer;
}
.projectimg:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.projectdesc{
    margin-bottom: 26px;
}
.projectday{
    margin-bottom: 10px;
}
.projectskill{
    margin-bottom: 10px;
}
#btnspan{
    display: flex;
    margin-bottom: 80px;
}
#alive{
    display: block;
    width: calc(100% / 3.5);
    margin-right: 3px;
    background-color:  #ccc;
    color: #2C3333;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    height: 2.5rem;
    width: 150px;
    line-height: 2.3rem;
    letter-spacing: 1px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}
#alive:hover{
    background:  rgb(255, 218, 55);
    color: #fff;
}
#moreview{
    text-align: end;
    padding-right: 20%;
    display: flex;
    flex-direction: row-reverse;
}
#moreviewspan{
    display: block;
    width: 25%;
    height: 32px;
    font-size: 24px;
    overflow: hidden;
    cursor: pointer;
}
#startp{
    display: block;
}
#endp{
    display: none;
}
#moreviewspan:hover #endp{
    display: block;
    animation: all 2s 1;
    background:  rgb(255, 218, 55);
}
#moreviewspan:hover #startp{
    display: none;
}
@keyframes all{
    0% {width: 0;}
    100%{width: 100%;}
}

/*FAQ 부분*/
#FAQ{
    padding-left: 13%;
    background-color: rgb(245, 245, 245);
}
#FAQdiv{
    padding: 25px 50px 50px;
    width: 70%;
    border: 2px solid rgb(248, 205, 7);
    margin-top: 70px;
    
    margin-left: 5%;
    padding-bottom: 50px;
}

#FAQflex{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    align-items: center;
}
#FAQflex img{
    width: 15px;
    height: 10px;
}
#FAQflex span{
    cursor: pointer;
}
.faqp{
    padding-left: 16px;
    padding-right: 36px;
    color: #333;
    font-size: 16px;
    line-height: 65px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.faqanswer{
    padding: 40px 40px 45px;
    border-bottom: 1px solid #ddd;
    color: #333;
    font-size: 14px;
    line-height: 1.86;
    box-sizing: border-box;
    border-color: transparent;
}

#Content{
    padding-top: 50px;
    padding-left: 13%;
    background-color: rgb(245, 245, 245);
}