/*Title 부분*/
#Title{
    width: 210px;
    position: fixed;
    padding-top: 140px;
    padding-left: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#Title h1{
    font-size: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
}
#Title li{
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 2px;
}
.Circle{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: rgb(110, 110, 110);
    display: inline-block;
    margin-right: 5px;
}
/*Introduction 부분*/
#Introduction{
    padding-top: 280px;
    padding-left: 10%;
    padding-bottom:400px;
}
#info{
    text-align: center;
}
#infotitle{
    font-size: 50px;
}
#infoname{
    font-size: 85px;
}
#namenext{
    font-size: 50px;
}
#infodesc{
    font-size: 30px;
}
/*Aboutme 부분*/
#Aboutme{
    padding-left: 15%;
}
#Contentborder{
    border-bottom: 6.5px solid rgb(248, 205, 7); 
    width: 80%;
    margin-bottom: 60px;
}
#Contenttitle{
    font-family: "NEXON Lv2 Gothic Bold";
    font-size: 70px;
    padding-bottom: 10px;
}
#Contenttitle2{
    font-size: 24px;
}
#Contenttitle3{
    margin-top: 20px;
    font-size: 40px;
}
#Contenttitle4{
    font-size: 18px;
}
.status{
    display: flex;
}
.statusli{
    margin-bottom: 10px;
}
.status-bar-name{
    width: 150px;
    line-height: 24px;
}
.status-bar{
    height: 24px;
    background: #ccc;
    width: 70%;
    border-radius: 20px;
}
.status-bar-percent{
    display: block;
    padding: 0 10px;
    height: 24px;
    line-height: 24px;
    text-align: right;
    color: #fff;
    border-radius: 20px;
    
}
.status-Javascript{
    width: 70%;
    background: rgb(246, 226, 5);
    animation: status70 2s 1 ;
}
.status-REACT{
    width: 70%;
    background: #b852cc;
    animation: status70 2s 1 ;
}
.status-Typescript{
    width: 50%;
    background: lightcoral;
    animation: status50 2s 1;
}
.status-HTML{
    width: 80%;
    background: lightpink;
    animation: status80 2s 1;
}
.status-CSS3{
    width: 70%;
    background: lightgreen;
    animation: status70 2s 1;
}
.status-SCSS{
    width: 70%;
    background: lightskyblue;
    animation: status70 2s 1;
}
.status-PHP{
    width: 60%;
    background: lightsteelblue;
    animation: status60 2s 1;
}
.status-MYSQL{
    width: 70%;
    background: lightslategray;
    animation: status70 2s 1;
}
.status-git{
    width: 40%;
    background: lightsalmon;
    animation: status40 2s 1;
}
@keyframes status40{
    0% {width: 0;}
    100%{width: 40%;}
}
@keyframes status50{
    0% {width: 0;}
    100%{width: 50%;}
}
@keyframes status60{
    0% {width: 0;}
    100%{width: 60%;}
}
@keyframes status70{
    0% {width: 0;}
    100%{width: 70%;}
}
@keyframes status80{
    0% {width: 0;}
    100%{width: 80%;}
}
/*Share 부분*/
#Share{
    padding-left: 15%;
}

/*Project 부분*/
#Project{
    padding-left: 15%;
}

/*FAQ 부분*/
#FAQ{
    padding-left: 15%;
}